{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <style>


        /*post*/
        .right-panel {

        }

        .container .left-panel, .container .right-panel {
            /*position: sticky;*/
            top: 70px;
            /*margin-top: -600px;*/
            /*margin-left: 600px;*/
            width: 250px;
            height: calc(100vh - 70px);
        }

        .container .left-panel ul {
            padding: 10px 0px;
        }

        .container .left-panel ul li {
            list-style: none;
            display: flex;
            padding: .7rem 1rem;
            align-items: center;
            transition: .3s;
            border-radius: 5px;
            cursor: pointer;
        }

        .container .left-panel ul li:hover {
            background: #ddd;
        }

        .container .left-panel ul li > p {
            margin-left: 10px;
        }

        .container .left-panel ul li > i {
            font-size: 20px;
            color: slateblue;
        }

        .container .left-panel ul li > i.fa-calendar-week {
            color: tomato;
        }

        .container .left-panel ul li i.fa-briefcase {
            color: green;
        }

        .container .left-panel ul li i.fa-star {
            color: yellowgreen;
        }

        .container .left-panel ul li i.fa-hands-helping {
            color: indianred;
        }

        .container .left-panel .footer-links {
            padding: 5px 1rem;
        }

        .container .left-panel .footer-links a {
            text-decoration: none;
            color: #333;
            font-size: 12px;
        }

        .middle-panel {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .middle-panel .story-section {
            display: flex;
            padding-left: -50px;
        }

        .middle-panel .story-section .story {
            width: 120px;
            height: 200px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin: 0px 5px;
            box-shadow: 0 0 5px 5px #ddd;
            background: #fff;
        }

        .middle-panel .story-section .story > img {
            height: 100%;
            transition: .3s ease-in;
        }

        .middle-panel .story-section .story:hover > img {
            transform: scale(1.05);
        }

        .middle-panel .story-section .story .dp-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 10px;
            left: 10px;
            border: royalblue 4px solid;
        }

        .middle-panel .story-section .story .dp-container > img {
            width: 100%;
            height: 100%;
        }

        .middle-panel .story-section .story .name {
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 5px;
            color: #fff;
            font-weight: bold;
        }

        .middle-panel .story-section .story.create .dp-image {
            height: 80%;
            overflow: hidden;
        }

        .middle-panel .story-section .story.create .dp-image img {
            width: 100%;
        }

        .middle-panel .story-section .story.create .dp-container {
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            display: grid;
            place-items: center;
            background: royalblue;
            border: 4px solid #fff;
        }

        .middle-panel .story-section .story.create .dp-container i {
            color: #fff;
        }

        .middle-panel .story-section .story.create .name {
            color: #000;
            font-size: 15px;
            left: 10px;
        }

        .post {
            width: 500px;
            background: #fff;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            margin-right: -200px;
            margin-left: -60px;

        }

        .post .post-top {
            display: flex;
            align-items: center;
            padding: 10px;
        }

        .post .post-top .dp {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }

        .post .post-top .dp > img {
            width: 100%;
            cursor: pointer;
        }

        .post .post-top .post-info {
            margin-left: 10px;
            font-weight: bold;
        }

        .post .post-top .post-info .name {
            cursor: pointer;
            font-size: 16px;
        }

        .post .post-top .post-info .time {
            font-size: 12px;
            cursor: pointer;
        }

        .post .post-top i {
            margin-left: auto;
            cursor: pointer;
        }

        .post .post-top > input {
            height: 40px;
            padding: 5px 10px;
            border-radius: 25px;
            outline: none;
            border: none;
            flex: 1;
            background: #eee;
            margin-left: 10px;
        }

        .post .post-content {
            font-size: 16px;
            font-weight: normal;
            padding: 10px;
        }

        .post .post-content > img {
            width: 100%;
            margin: 5px 0px;
        }

        .post .post-bottom {
            box-shadow: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            padding: 5px 5px 0px 5px;
        }

        .post .post-bottom .action {
            padding: 10px;
            border-radius: 10px;
            transition: .3s ease-in;
            cursor: pointer;
        }

        .post .post-bottom .action:hover {
            background: #eee;
        }

        .post.create .post-bottom > .action {
            color: #d74;
        }

        .container .right-panel {
            padding: 1rem;
        }

        .right-panel .pages-section,
        .right-panel .friends-section {
            margin: 1rem 0px;
        }

        .right-panel .pages-section h4,
        .right-panel .friends-section h4 {
            margin-bottom: 10px;
        }

        .right-panel .pages-section .page,
        .right-panel .friends-section .friend {
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: .3s ease-in-out;
            border-radius: 5px;
            padding: 7px 10px;
            color: #333;
        }

        .right-panel .pages-section .page:hover,
        .right-panel .friends-section .friend:hover {
            background: #ddd;
        }

        .right-panel .pages-section .page > .dp,
        .right-panel .friends-section .friend > .dp {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }

        .right-panel .pages-section .page > .dp > img,
        .right-panel .friends-section .friend > .dp > img {
            width: 100%;
        }

        .right-panel .pages-section .name, .right-panel .friends-section .name {
            font-size: 18px;
            cursor: pointer;
            margin-left: 8px;
        }


        /*suggestion*/

        .con {

            /*background-color: #ffffff;*/
            /*border: 1px solid #ddd;*/
            /*border-radius: 5px;*/
            width: 300px;
            padding: 20px;


        }

        .profile {
            margin-bottom: 20px;
        }

        .profile-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .profile-header img {
            border-radius: 50%;
            margin-right: 10px;
        }

        .profile-info {
            display: flex;
            flex-direction: column;
        }

        .profile-name {
            font-weight: bold;
        }

        .profile-details {
            color: #777;
            font-size: 0.9em;
        }

        .profile-description {
            font-size: 0.9em;
            color: #333;
        }

        .suggestions {
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 45px;
            border-top: 1px solid #ddd;
            padding-top: 10px;
            padding-left: 20px;
        }

        .suggestions-title {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .suggestion {

            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .suggestion img {
            margin-right: 10px;
        }

        .suggestion-info {
            display: flex;
            flex-direction: column;
        }

        .suggestion-name {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: -5px;
        }

        .suggestion-details {
            color: #777;
            font-size: 0.9em;
            margin-bottom: 5px;
        }
        .suggestion-detail{
            margin-bottom: 5px;
            color: #777;
            font-size: 0.9em;
            margin-top: -10px;
        }

        .add-friend {
            color: #007bff;
            text-decoration: none;
            font-size: 0.9em;
            display: flex;
            align-items: center;
        }

        .add-friend::before {
            content: '\1F465'; /* Unicode character for a person icon */
            margin-right: 5px;
        }

        /*search*/
        .not-clickable {
            pointer-events: none;
            opacity: 0.9; /* Rend le bouton visuellement désactivé */
        }

        /*modal*/
        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .modal-body .post-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
        }

        .modal-body .post-top .dp img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .modal-body .post-info {
            flex-grow: 1;
            text-align: left;
        }

        .modal-body .post-content {
            width: 100%;
        }

        .modal-body .post-content img {
            max-width: 100%;
            height: auto;
            margin: 1rem 0;
        }

        .modal-body .post-content h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .modal-body .post-content p {
            font-size: 1rem;
            color: #666;
        }

        /*comment*/
        /* CSS pour les commentaires */
        /* CSS spécifique pour la modal des commentaires */
        /* CSS spécifique pour la modal des commentaires */
        .comment-modal .modal-content {
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 20px;
        }

        .comment-modal .modal-header {
            border-bottom: none;
        }

        .comment-modal .modal-title {
            font-weight: bold;
            font-size: 1.5em;
        }

        .comment-modal .modal-body {
            max-height: 400px;
            overflow-y: auto;
            padding-top: 0;
        }

        .comment-modal #commentSection {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .comment {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .comment .comment-header {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .comment img {
            border-radius: 50%;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }

        .comment .comment-info {
            display: flex;
            flex-direction: column;
        }

        .comment .comment-info strong {
            font-weight: bold;
        }

        .comment .comment-info small {
            color: #888;
            font-size: 0.8em;
        }

        .comment p {
            margin: 0;
        }

        .comment-modal #commentContent {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #ced4da;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
        }

        .comment-modal #submitComment {
            display: block;
            width: 100%;
            border: none;
            padding: 10px;
            border-radius: 8px;
            background-color: #007bff;
            color: #fff;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .comment-modal #submitComment:hover {
            background-color: #0056b3;
        }

        .comment-modal textarea, .comment-modal button {
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        .comment-modal textarea:focus, .comment-modal button:focus {
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
        }



        .comment-top {
            display: flex;
            align-items: center;
        }

        .comment-user-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .post-meta {
            margin-top: 10px;
            font-weight: bold;
            /*opacity: 0.7%;*/
            color: #bcbcbc;
            text-align: left; /* Assure que le texte est aligné à gauche */
            padding-left: 15px; /* Ajoute un léger décalage pour correspondre au contenu du post */
        }



    </style>





    <!-- SIDEBAR -->
    <section id="sidebar" style="padding-left: -350px">
        {#        <a href="#" class="brand">#}
        <a class="brand" href="{{ url("home") }}">

            <i class='bx bxs-smile'></i>
            <span class="text">FetchBlog</span>
        </a>
        <ul class="side-menu top">
            <li>

                <a href="{{ url("home") }}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Accueil</span>
                </a>
            </li>
            <li class="active">
                <a class="librefrank nav-link {{ app.current_route starts with 'post'? 'active' :''}}" href="{{ path("posts") }}" style="background: none">

                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Posts</span>
                </a>
            </li>
            <li>
                <a class="librefrank nav-link {{ app.current_route starts with 'communaute'? 'active' :''}}" href="{{ path("communaute") }}" style="background: none">

                <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Communauté</span>
                </a>
            </li>
            <li>
                <a class="librefrank nav-link {{ app.current_route starts with 'apropos'? 'active' :''}}" href="{{ path("apropos") }}" style="background: none">

                <i class='bx bxs-message-dots'></i>
                    <span class="text">A propos</span>
                </a>
            </li>
            <li>
                <a class="librefrank nav-link {{ app.current_route starts with 'notification'? 'active' :''}}" href="{{ path("notification") }}" style="background: none">

                <i class='bx bxs-group'></i>
                    <span class="text">notification</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a class="librefrank nav-link {{ app.current_route starts with 'dashboard'? 'active' :''}}" href="{{ path("dashboard") }}" style="background: none">

                <i class='bx bxs-cog'></i>
                    <span class="text">dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url('app_logout') }}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form id="search-form" action="#" onsubmit="return false;">
                <div class="form-input">
                    <input type="search" id="search-input" placeholder="Search..." autocomplete="off">
                    <button class="search-btn not-clickable"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            {% if app.user %}
                <a href="#" class="profile">
                    {% if app.user.image %}
                        <img src="{{ asset('images/' ~ app.user.image) }}" alt="User Image">
                    {% else %}
                        <span>{{ app.user.username }}</span>
                    {% endif %}
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="profile">
                    <span>Se connecter</span>
                </a>
            {% endif %}
        </nav>

        <!-- NAVBAR -->

        <!-- MAIN -->
        <!-- MAIN -->

            <div class="main p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div id="posts-container">
                                {% for post in posts %}
                                    {% include 'post/_post.html.twig' with { post: post } %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-4" style="padding-left: 50px">
                            <!-- Profile and Suggestions Code -->
                            <div class="con">
                                <div class="profile">
                                    <div class="profile-header">
                                        <img src="{{ asset('images/logo.png') }}" alt="Profile Picture" style="border-radius: 30px; width: 40px">

                                        <div class="profile-info">
                                            <p class="profile-name">FetchBlog</p>
                                        </div>
                                    </div>
                                    <div class="profile-description">
                                        Trouver des articles de blog et des suggestions pour passer un bon moment.
                                    </div>
                                </div>
                                <!-- templates/post/index.html.twig -->
                                <div class="suggestions">
                                    <p class="suggestions-title">Suggestions</p>
                                    {% for topUser in topUsers %}
                                        <div class="suggestion">
                                            <img  src="{{ asset('images/' ~ topUser.user.image) }}" style="border-radius: 5px; width: 45px;height: 45px" alt="{{ topUser.user.username }}">

                                            <div class="suggestion-info">
                                                <p class="suggestion-name">{{ topUser.user.username }}</p>
                                                <p class="suggestion-details">{{ topUser.subscriberCount }} abonnés</p>
                                                <p class="suggestion-detail">{{ topUser.user.profession }} </p>

{#                                                <form method="post" action="{{ path('add_friend', {id: topUser.user.id}) }}">#}
{#                                                    <button type="submit" class="add-friend">Ajouter en amis</button>#}
{#                                                </form>#}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal HTML for Post Details -->
            <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="postModalLabel">Post Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="postDetails">
                                <!-- Les détails du post seront chargés ici via AJAX -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal HTML for Comments -->
            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="commentModalLabel">Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="commentSection">
                                <!-- Les commentaires seront chargés ici via AJAX -->
                            </div>
                            <textarea id="commentContent" class="form-control" rows="3" placeholder="Add a comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="submitComment" class="btn btn-primary">Submit Comment</button>
                        </div>
                    </div>
                </div>
            </div>





        <!-- MAIN -->
    </section>
    <!-- CONTENT -->



    <script src="{{ asset('js/post.js') }}"></script>




    <script>



        // favorite

        document.addEventListener('DOMContentLoaded', function() {
            const favoriteButtons = document.querySelectorAll('.favorite-btn, .favorited');

            favoriteButtons.forEach(button => {
                button.addEventListener('click', function() {
                    if (this.classList.contains('favorited')) {
                        alert('You have already favorited this post.');
                        return;
                    }

                    const postId = this.getAttribute('data-post-id');
                    fetch(`/post/${postId}/favorite`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRF-Token': '{{ csrf_token('favorite') }}' // Utiliser un token CSRF pour la sécurité
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.message === 'Post favorited successfully') {
                                this.classList.remove('fa-regular', 'fa-bookmark', 'favorite-btn');
                                this.classList.add('fa-solid', 'fa-bookmark', 'favorited');
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                });
            });
        });


        // search





        const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

        allSideMenu.forEach(item => {
            const li = item.parentElement;

            item.addEventListener('click', function () {
                allSideMenu.forEach(i => {
                    i.parentElement.classList.remove('active');
                })
                li.classList.add('active');
            })
        });


        // TOGGLE SIDEBAR
        const menuBar = document.querySelector('#content nav .bx.bx-menu');
        const sidebar = document.getElementById('sidebar');

        menuBar.addEventListener('click', function () {
            sidebar.classList.toggle('hide');
        })


        const searchButton = document.querySelector('#content nav form .form-input button');
        const searchButtonIcon = document.querySelector('#content nav form .form-input button .bx');
        const searchForm = document.querySelector('#content nav form');

        searchButton.addEventListener('click', function (e) {
            if (window.innerWidth < 576) {
                e.preventDefault();
                searchForm.classList.toggle('show');
                if (searchForm.classList.contains('show')) {
                    searchButtonIcon.classList.replace('bx-search', 'bx-x');
                } else {
                    searchButtonIcon.classList.replace('bx-x', 'bx-search');
                }
            }
        })


        if (window.innerWidth < 768) {
            sidebar.classList.add('hide');
        } else if (window.innerWidth > 576) {
            searchButtonIcon.classList.replace('bx-x', 'bx-search');
            searchForm.classList.remove('show');
        }


        window.addEventListener('resize', function () {
            if (this.innerWidth > 576) {
                searchButtonIcon.classList.replace('bx-x', 'bx-search');
                searchForm.classList.remove('show');
            }
        })


        const switchMode = document.getElementById('switch-mode');

        switchMode.addEventListener('change', function () {
            if (this.checked) {
                document.body.classList.add('dark');
            } else {
                document.body.classList.remove('dark');
            }
        })</script>
{% endblock %}



