{% extends 'base.html.twig' %}

{% block body %}
    <h1>Éditer le post</h1>
    {{ form_start(postForm, {'attr': {'class': 'post-form'}}) }}
    <div class="form-group">
        {{ form_label(postForm.title) }}
        {{ form_widget(postForm.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(postForm.title) }}
    </div>
    <div class="form-group">
        {{ form_label(postForm.slug) }}
        {{ form_widget(postForm.slug, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(postForm.slug) }}
    </div>
    <div class="form-group">
        {{ form_label(postForm.content) }}
        {{ form_widget(postForm.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(postForm.content) }}
    </div>
    <div class="form-group">
        {{ form_label(postForm.image) }}
        {{ form_widget(postForm.image, {'attr': {'class': 'form-control-file'}}) }}
        {{ form_errors(postForm.image) }}
    </div>
    <div class="form-group">
        {{ form_label(postForm.status) }}
        {{ form_widget(postForm.status, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(postForm.status) }}
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_end(postForm) }}
{% endblock %}
